<nav class="navbar">
    <div class="container-fluid">
        <div class="left-nav">
            <h2>My Forex App</h2>
            <button class="toggle-btn"><i class="fa fa-bars"></i></button>
        </div>
        <div class="right-nav">
            <ul class="nav-ul">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/forexCheck" id="forexCheck">Forex Check</a></li>
                <li><a href="/topCurrencies" id="topCurrencies" style="cursor: pointer;">Top Currencies</a></li>
            </ul>
        </div>
    </div>
</nav>